h1{
    text-decoration: underline;
}
body{
    text-align: center;
    background-color: rgb(131, 235, 235);
}
.btn{
    background-color: rgb(74, 91, 80);
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 15px;
    border-radius: 60px;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.2);
    
}
.btn:hover {
    background-color: #0aee87;
    transform: scale(1.8);
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.5);
  }
.img-choice{
    border-radius: 60px;
    height : 70px;
}
.reset-btn{
    color: blanchedalmond;
    background-color: rgb(236, 128, 128);
    color: black;
    width: 90px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.2);

}
.reset-btn:hover {
    background-color: red;
    color: white;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.15);
  }
